.card-link {
  text-decoration: none;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.shame-card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 63px;
  width: 330px;
  height: 100%;
  flex-grow: 1;
  padding: 30px;
  background-image: url('../../assets/images/card_background.png');
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.5s ease;

  @media (max-width: 1110px) {
    width: 400px;
  }

  @media (max-width: 879px) {
    width: 350px;
  }

  @media (max-width: 770px) {
    width: 100%;
  }
}

.shame-card:hover {
  background-color: white;
  background-image: none;
}

.shame-card-head {
  height: 42px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.shame-card-name {
  display: table-caption;
  margin: 0;
  font-family: 'e-Ukraine-Medium';
  font-size: 14px;
  line-height: 1.5em;
  color: white;
}

.shame-card:hover .shame-card-name {
  color: black;
}

.shame-card-add {
  margin: 0;
  font-family: 'e-Ukraine-Bold';
  font-size: 18px;
  line-height: 1.5em;
  color: white;
}

.shame-card:hover .shame-card-add {
  color: black;
}

.shame-card-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shame-card-date {
  width: fit-content;
  margin: 0;
  padding: 0 10px;
  font-family: 'e-Ukraine-Regular';
  font-size: 14px;
  line-height: 1.5em;
  color: var(--light-text-color);
  background-color: var(--selected-color);
}

.shame-card-description {
  margin: 0;
  font-family: 'e-Ukraine-Bold';
  font-size: 20px;
  line-height: 1.2em;
  color: white;

  @media (max-width: 462px) {
    font-size: 14px;
  }

  @media (max-width: 320px) {
    font-size: 12px;
  }
}

.shame-card:hover .shame-card-description {
  color: black;
}

.triangle {
  position: absolute;
  right: -90px;
  top: -22px;
  width: 0;
  height: 0;
  opacity: 0;
  border-bottom: 137px solid #e9e9e9;
  border-left: 137px solid transparent;
  border-right: 137px solid transparent;
  transform: rotate(45deg);

  @media (max-width: 768px) {
    display: none;
  }
}

.shame-card:hover > .triangle {
  opacity: 1;
}

.arrow {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  font-size: 100px;
  color: var(--selected-color);
  transform: rotate(-45deg);
  opacity: 0;

  @media (max-width: 768px) {
    display: none;
  }
}

.shame-card:hover > .arrow {
  opacity: 1;
}
