.mobileMenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 95%;
  height: 100vh;
  background-color: var(--background-color);
  z-index: 1000;
  padding: 80px 20px 20px;
  transition: left 0.3s ease-in-out;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.mobileMenu.open {
  left: 0;
}

.mobileMenuContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 60px;
  gap: 24px;
}

.mobileLink {
  padding: 15px 20px;
  font-family: "e-Ukraine-Bold", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: var(--light-text-color);
  text-decoration: none;
  transition: all 0.3s ease;
}

.activeLink {
  color: var(--selected-color);
  font-weight: bold;
}

.activeLink:hover {
  color: var(--light-text-color) !important;
}

.mobileLink:hover {
  border-color: var(--selected-color);
}

.mobileLink.active {
  border-color: var(--selected-color);
}

.mobileMenu::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.mobileMenu.open::before {
  opacity: 1;
  pointer-events: auto;
}
