.main {
  background-image: url('../../assets/images/dark_background.png');
  display: flex;
  flex-direction: column;
}
.introduction {
  height: 94vh;
  padding: 0 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.sitename {
  height: auto;
  display: flex;
  align-items: center;
  gap: 40px;

  @media (max-width: 1180px) {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}

.site,
.name {
  font-family: 'e-Ukraine-Head-Bold';
  font-size: 100px;
  margin: 0;
  color: var(--light-heading-color);

  @media (max-width: 768px) {
    font-size: 60px;
  }

  @media (max-width: 462px) {
    font-size: 40px;
  }

  @media (max-width: 320px) {
    font-size: 30px;
  }
}
.name {
  padding: 20px;
  line-height: 100px;
  background-color: var(--selected-color);

  @media (max-width: 462px) {
    line-height: 40px;
  }

  @media (max-width: 320px) {
    line-height: 40px;
  }
}

.ratingCards {
  display: flex;
  gap: 30px;
}

.whiteLine {
  width: 100%;
  margin-top: -6px;
  height: 6px;
  background-color: var(--light-heading-color);
}

.goal {
  margin: 0;
  width: 700px;
  text-align: center;
  font-family: 'e-Ukraine-Light';
  font-size: 24px;
  line-height: 1.7em;
  color: var(--light-text-color);

  @media (max-width: 1180px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 462px) {
    font-size: 14px;
  }

  @media (max-width: 320px) {
    font-size: 12px;
  }
}

.arrows {
  display: flex;
  gap: 20px;
}

.ratingBg {
  background-image: url('../../assets/images/light_background.png');
}

.rating {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 80px 0;

  @media (max-width: 476px) {
    gap: 30px;
  }
}

.ratingHeader {
  display: flex;
  gap: 25px;

  @media (max-width: 944px) {
    flex-direction: column;
  }
}

.rating-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.rating-title {
  margin: 0;
  font-family: 'e-Ukraine-Head-Bold';
  font-size: 80px;
  color: var(--background-color);
  line-height: 1.2em;

  @media (max-width: 1024px) {
    font-size: 60px;
  }

  @media (max-width: 476px) {
    font-size: 40px;
  }
}

.ratingDescription {
  margin: 0;
  font-family: 'e-Ukraine-Light';
  font-size: 24px;
  line-height: 1.7em;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.rating-buttons {
  display: flex;
  align-items: end;
}

.rating-button {
  display: flex;
  justify-content: flex-end;
  gap: 13px;
  align-items: center;
  padding: 10px 25px;
  width: 284px;
  border: none;
  font-family: 'e-Ukraine-Bold';
  font-size: 20px;
  line-height: 1.5em;
  background-color: transparent;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @media (max-width: 1024px) {
    background-color: var(--selected-color);
    color: white;
  }
}

.rating-button:hover {
  background-color: var(--selected-color);
  color: white;
}

.arrow-right {
  display: inline-block;
  font-size: 18px;
  transform: rotate(-45deg);
}

.ratingLine {
  margin-top: -3px;
  height: 4px;
  width: 100%;
  background: var(--background-color);
  position: relative;
  overflow: hidden;
}

.ratingLine::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--progress);
  background: var(--selected-color);
}

.embla {
  overflow: hidden;
}

.emblaContainer {
  display: flex;
  gap: 30px;
}

.emblaSlide {
  flex: 0 0 25%;
}

.slider {
  display: flex;
}

.slider-button {
  width: 230px;
  height: 80px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.slider-button:hover {
  background-color: var(--selected-color);
}

.slider-icon {
  font-size: 36px;
  color: white;
}

.remember {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.remember-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.remember-head {
  width: 100%;
  margin: 0;
  font-family: 'e-Ukraine-Head-Bold';
  line-height: 1.2em;
  font-size: 80px;
  color: var(--light-heading-color);

  @media (max-width: 1024px) {
    font-size: 60px;
  }

  @media (max-width: 476px) {
    font-size: 40px;
  }
}

.remember-text {
  margin: 0;
  width: 100%;
  font-family: 'e-Ukraine-Light';
  font-size: 24px;
  line-height: 1.7em;
  color: rgb(255, 255, 255, 0.7);

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  @media (max-width: 476px) {
    font-size: 14px;
  }
}

.remember-links {
  display: flex;
  flex-direction: column;
  gap: 38px;

  @media (max-width: 1024px) {
    gap: 20px;
  }

  @media (max-width: 476px) {
    gap: 10px;
  }
}

.remember-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.remember-link:hover > .link-text {
  color: var(--selected-color);
}

.remember-link:hover > .link-icon {
  color: var(--selected-color);
}

.link-text {
  margin: 36px 0;
  line-height: 1em;
  font-family: 'e-Ukraine-Head-Medium';
  font-size: 64px;
  color: var(--light-heading-color);
  transition: color 0.3s ease-in-out;

  @media (max-width: 1024px) {
    font-size: 40px;
  }
}

.link-icon {
  display: inline-block;
  margin-right: 20px;
  font-size: 95px;
  transform: rotate(-45deg);
  color: white;

  @media (max-width: 1024px) {
    font-size: 60px;
  }

  @media (max-width: 476px) {
    font-size: 40px;
  }
}

.thin-line {
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255, 0.5);
}

.latest {
  padding: 80px 0;
  background-image: url('../../assets/images/light_background.png');
}

.latestLayout {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.latest-header {
  display: flex;
  gap: 25px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.latest-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.latest-title {
  margin: 0;
  font-family: 'e-Ukraine-Head-Bold';
  font-size: 80px;
  color: var(--background-color);
  line-height: 1.2em;

  @media (max-width: 1024px) {
    font-size: 60px;
  }

  @media (max-width: 462px) {
    font-size: 40px;
  }

  @media (max-width: 320px) {
    font-size: 30px;
  }
}

.latest-description {
  margin: 0;
  font-family: 'e-Ukraine-Light';
  font-size: 24px;
  line-height: 1.7em;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  @media (max-width: 462px) {
    font-size: 14px;
  }

  @media (max-width: 320px) {
    font-size: 12px;
  }
}

.latest-buttons {
  display: flex;
  align-items: end;
}

.latest-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 13px;
  padding: 10px 25px;
  width: 210px;
  border: none;
  font-family: 'e-Ukraine-Bold';
  font-size: 20px;
  line-height: 1.5em;
  background-color: transparent;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @media (max-width: 1024px) {
    background-color: var(--selected-color);
    color: white;
  }
}

.latest-button:hover {
  background-color: var(--selected-color);
  color: white;
}

.arrow-right {
  display: inline-block;
  font-size: 18px;
  transform: rotate(-45deg);
}

.latest-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  overflow: hidden;

  @media (max-width: 770px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}
