.latest {
  padding: 80px 0;
  background-image: url("../../../assets/images/light_background.png");
}

.latestLayout {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.latestHeader {
  display: flex;
  gap: 25px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.latestInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.latestTitle {
  margin: 0;
  font-family: "e-Ukraine-Head-Bold";
  font-size: 80px;
  color: var(--background-color);
  line-height: 1.2em;

  @media (max-width: 1024px) {
    font-size: 60px;
  }

  @media (max-width: 462px) {
    font-size: 40px;
  }

  @media (max-width: 320px) {
    font-size: 30px;
  }
}

.latestDescription {
  margin: 0;
  font-family: "e-Ukraine-Light";
  font-size: 24px;
  line-height: 1.7em;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  @media (max-width: 462px) {
    font-size: 14px;
  }

  @media (max-width: 320px) {
    font-size: 12px;
  }
}

.latestButtons {
  display: flex;
  align-items: end;
}

.latestButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 13px;
  padding: 10px 25px;
  width: 210px;
  border: none;
  font-family: "e-Ukraine-Bold";
  font-size: 20px;
  line-height: 1.5em;
  background-color: transparent;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @media (max-width: 1024px) {
    background-color: var(--selected-color);
    color: white;
  }
}

.latestButton:hover {
  background-color: var(--selected-color);
  color: white;
}

.arrowRight {
  display: inline-block;
  font-size: 18px;
  transform: rotate(-45deg);
}

.latestCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  overflow: hidden;

  @media (max-width: 770px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}
