.main {
  background-image: url('../../assets/images/light_background.png');
}

.person {
  background-image: url('../../assets/images/dark_background.png');
}

.breadcrumb {
  padding: 50px 0;
  display: flex;
  gap: 10px;
}

.breadcrumb-link-main {
  margin: 0;
  line-height: 24px;
  font-family: 'e-Ukraine-Light';
  color: rgb(239, 240, 243);
  font-size: 14px;
  line-height: 1.7em;
  text-decoration: none;
}
.breadcrumb-link-current {
  margin: 0;
  line-height: 24px;
  font-family: 'e-Ukraine-Light';
  color: rgb(239, 240, 243, 0.7);
  font-size: 14px;
  line-height: 1.7em;
}
.breadcrumb-icon {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}

.person-introduction {
  display: flex;
  padding: 80px 0;
  gap: 30px;

  @media (max-width: 1092px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 768px) {
    padding: 20px 0;
  }
}

.personIntroductionImage {
  position: relative;
}

.tape {
  position: absolute;
  top: -15%;
  left: -20%;

  @media (max-width: 1464px) {
    top: -20%;
    left: -27%;
  }

  @media (max-width: 768px) {
    top: -25%;
  }
}

.personPhoto {
  object-fit: cover;
  height: 731px;
  width: 509px;

  @media (max-width: 1464px) {
    height: 600px;
    width: 400px;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 450px;
  }
}

.personInfo {
  box-sizing: border-box;
  background-image: url('../../assets/images/info_background.png');
  width: 100%;
  height: 731px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 1464px) {
    height: 600px;
    padding: 40px;
    overflow-y: auto;
  }

  @media (max-width: 1092px) {
    height: 100%;
    overflow-y: auto;
  }
}

.name {
  font-family: 'e-Ukraine-Head-Bold';
  font-size: 60px;
  line-height: 1.2em;

  @media (max-width: 1464px) {
    font-size: 60px;
  }

  @media (max-width: 1092px) {
    font-size: 40px;
  }
}

.logos {
  height: 100%;
  display: flex;
  gap: 30px;
}

.characteristics {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  display: flex;
  gap: 10px;
  background-color: var(--light-heading-color);
  padding: 8px 12px;
}

.optionText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.optionText p {
  margin: 0;
  font-family: 'e-Ukraine-Regular';
  font-size: 16px;
  line-height: 1.7em;
}

.optionText h4 {
  margin: 0;
  font-family: 'e-Ukraine-Regular';
  color: #555;
  font-size: 12px;
}

.list {
  display: block;
  padding: 0 10px 2px 0;
  margin: 0;

  max-height: 90px;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.list::-webkit-scrollbar {
  width: 4px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.list li {
  margin-bottom: 0px;
  font-family: 'e-Ukraine-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  list-style-type: decimal;
  list-style-position: inside;
}

@media (max-width: 960px) {
  .list {
    max-height: none;
  }

  .list li {
    font-size: 13px;
    margin-bottom: 2px;
  }
}

.latestBg {
  background-image: url('../../assets/images/light_background.png');
}

.latest {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
  overflow: hidden;

  @media (max-width: 1024px) {
    padding: 50px 0;
    gap: 10px;
  }
}

.latest-header {
  display: flex;
  gap: 25px;
  justify-content: space-between;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.latest-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.latest-title {
  margin: 0;
  font-family: 'e-Ukraine-Head-Bold';
  font-size: 80px;
  color: var(--background-color);
  line-height: 1.2em;

  @media (max-width: 1464px) {
    font-size: 60px;
  }

  @media (max-width: 1092px) {
    font-size: 40px;
  }
}

.latest-description {
  margin: 0;
  font-family: 'e-Ukraine-Light';
  font-size: 24px;
  line-height: 1.7em;

  @media (max-width: 1464px) {
    font-size: 16px;
  }

  @media (max-width: 1092px) {
    font-size: 14px;
  }
}

.latest-buttons {
  display: flex;
  align-items: end;
}

.latest-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 13px;
  padding: 10px 25px;
  width: 210px;
  border: none;
  font-family: 'e-Ukraine-Bold';
  font-size: 20px;
  line-height: 1.5em;
  background-color: transparent;
  text-decoration: none;
  color: black;
  cursor: pointer;

  @media (max-width: 1024px) {
    background-color: var(--selected-color);
    color: white;
  }
}

.latest-button:hover {
  background-color: var(--selected-color);
  color: white;
}

.arrow-right {
  display: inline-block;
  font-size: 18px;
  transform: rotate(-45deg);
}

.latest-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
