.container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.emailLink {
  font-family: 'e-Ukraine-Bold';
  font-size: 16px;
  color: var(--selected-color);
  text-decoration: none;

  @media (max-width: 768px) {
    font-size: 14px;
    padding-bottom: 16px;
  }

  @media (max-width: 462px) {
    font-size: 13px;
  }
}

.copyButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
}
