.header {
  background-color: var(--background-color);
}

.layout {
  display: flex;
  align-items: center;
  gap: 60px;
}

.links {
  display: flex;
  width: 100%;
  height: 100%;

  @media (max-width: 768px) {
    display: none;
    visibility: hidden;
  }
}

.links:last-child {
  justify-content: flex-end;
}

.link {
  padding: 20px;
  font-family: 'e-Ukraine-Bold';
  font-size: 20px;
  color: var(--light-text-color);
  text-decoration: none;
}

.link:hover {
  background-color: var(--selected-color);
}

.logo {
  cursor: pointer;
}
