.remember {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.rememberInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.rememberHead {
  width: 100%;
  margin: 0;
  font-family: "e-Ukraine-Head-Bold";
  line-height: 1.2em;
  font-size: 80px;
  color: var(--light-heading-color);

  @media (max-width: 1024px) {
    font-size: 60px;
  }

  @media (max-width: 476px) {
    font-size: 40px;
  }
}

.rememberText {
  margin: 0;
  width: 100%;
  font-family: "e-Ukraine-Light";
  font-size: 24px;
  line-height: 1.7em;
  color: rgb(255, 255, 255, 0.7);

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  @media (max-width: 476px) {
    font-size: 14px;
  }
}

.rememberLinks {
  display: flex;
  flex-direction: column;
  gap: 38px;

  @media (max-width: 1024px) {
    gap: 20px;
  }

  @media (max-width: 476px) {
    gap: 10px;
  }
}

.rememberLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.rememberLink:hover > .linkText {
  color: var(--selected-color);
}

.rememberLink:hover > .linkIcon {
  color: var(--selected-color);
}

.linkText {
  margin: 36px 0;
  line-height: 1em;
  font-family: "e-Ukraine-Head-Medium";
  font-size: 64px;
  color: var(--light-heading-color);
  transition: color 0.3s ease-in-out;

  @media (max-width: 1024px) {
    font-size: 40px;
  }
}

.linkIcon {
  display: inline-block;
  margin-right: 20px;
  font-size: 95px;
  transform: rotate(-45deg);
  color: white;

  @media (max-width: 1024px) {
    font-size: 60px;
  }

  @media (max-width: 476px) {
    font-size: 40px;
  }
}

.thinLine {
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255, 0.5);
}
