.footer {
  background-color: var(--background-color);
}

.layout {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 40px;

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  width: 100%;

  @media (max-width: 768px) {
    justify-content: space-between;
  }

  @media (max-width: 640px) {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
}

.navLinksItems {
  width: 100%;
  display: flex;
  justify-content: justify-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: max-content;
  }
}

.navRow {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.name {
  margin: 0;
  font-family: 'e-Ukraine-Head-Bold';
  font-size: 24px;
  margin-right: 20px;
  color: var(--light-text-color);
}

.link {
  font-family: 'e-Ukraine-Regular';
  font-size: 20px;
  line-height: 26px;
  color: var(--light-text-color);
  text-decoration: none;
  flex-shrink: 0;

  @media (max-width: 640px) {
    text-align: center;
    flex-shrink: 1;
    width: 100%;
  }
}

.link:hover {
  color: var(--selected-color);
}

.terms {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-family: 'e-Ukraine-Regular';
  font-size: 16px;
  color: var(--light-text-color);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (max-width: 768px) {
    text-align: center;
  }
}

.info-row {
  margin: 0;
  font-family: 'e-Ukraine-Bold';
  font-size: 16px;
  color: var(--light-text-color);
}
