.footer {
  background-color: var(--background-color);
}

.layout {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 40px;

  @media (max-width: 768px) {
    padding: 40px 20px;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    justify-content: space-between;
  }

  @media (max-width: 640px) {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    white-space: nowrap;
  }
  @media (max-width: 462px) {
    gap: 50px;
  }
}

.navLinksItems {
  display: flex;
  justify-content: justify-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: max-content;
  }
}

.navRow {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;

  @media (max-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }

  @media (max-width: 462px) {
    gap: 36px;
  }
}

.name {
  margin: 0;
  font-family: "e-Ukraine-Head-Bold";
  font-size: 28px;
  line-height: 27.5px;
  margin-right: 20px;
  color: var(--light-text-color);

  @media (max-width: 462px) {
    font-size: 20px;
  }
}

.link {
  font-family: "e-Ukraine-Regular";
  font-size: 20px;
  line-height: 26px;
  color: var(--light-text-color);
  text-decoration: none;
  flex-shrink: 0;

  @media (max-width: 640px) {
    text-align: center;
    flex-shrink: 1;
    width: 100%;
  }

  @media (max-width: 462px) {
    font-size: 16px;
    white-space: nowrap;
  }
}

.link:hover {
  color: var(--selected-color);
}

.terms {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-family: "e-Ukraine-Regular";
  font-size: 16px;
  color: var(--light-text-color);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (max-width: 768px) {
    text-align: center;
  }
}

.info-row {
  margin: 0;
  font-family: "e-Ukraine-Light";
  font-size: 14px;
  color: var(--gray-text-color);
}
