@font-face {
  font-family: 'e-Ukraine-Bold';
  src: url('./assets/e-Ukraine/e-Ukraine-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine-Medium';
  src: url('./assets/e-Ukraine/e-Ukraine-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine-Regular';
  src: url('./assets/e-Ukraine/e-Ukraine-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine-Light';
  src: url('./assets/e-Ukraine/e-Ukraine-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine-Head-Bold';
  src: url('./assets/e-Ukraine-Head/e-UkraineHead-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine-Head-Medium';
  src: url('./assets/e-Ukraine-Head/e-UkraineHead-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine-Head-Regular';
  src: url('./assets/e-Ukraine-Head/e-UkraineHead-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-color: #1f1f1f;
  --light-text-color: #eff0f3;
  --light-heading-color: #e7e7e7;
  --dark-text-color: #1f1f1f;
  --selected-color: #de442c;
  --gray-text-color: #a5a6a7;
  letter-spacing: 0.15px;
}

@media screen and (max-width: 500px) {
  html {
    overflow: auto;
  }
}

.container {
  width: 1440px;
  margin: 0 auto;

  @media (max-width: 1480px) {
    width: 80%;
  }

  @media (max-width: 1300px) {
    width: 96%;
  }
}

body.lock-scroll {
  overflow: hidden;
  width: 100%;
}
