.introSkeleton {
  display: flex;
  gap: 30px;
  padding: 80px 0;
  align-items: flex-start;

  @media (max-width: 1092px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 768px) {
    padding: 20px 0;
  }
}

.animatePulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.skeletonItem {
  background-color: #e5e7eb;
  border-radius: 8px;
}

.imageSkeletonWrapper {
  flex-shrink: 0;
  background-color: #f3f4f6;
  position: relative;
  height: 731px;
  width: 509px;

  @media (max-width: 1464px) {
    height: 600px;
    width: 400px;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 450px;
  }
}

.infoSkeleton {
  box-sizing: border-box;
  background-image: url("../../assets/images/info_background.png");
  width: 100%;
  height: 731px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 1464px) {
    height: 600px;
    padding: 40px;
    overflow-y: auto;
  }

  @media (max-width: 1092px) {
    height: 100%;
    overflow-y: auto;
  }
}

.nameSkeleton {
  height: 48px;
  width: 70%;
  margin-bottom: 20px;
}

.characteristicsSkeleton {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optionSkeleton {
  display: flex;
  gap: 10px;
  padding: 8px 12px;
}

.iconSkeleton {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.textGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.labelSkeleton {
  height: 24px;
  width: 40%;
}

.valueSkeleton {
  height: 20px;
  width: 60%;
}
.listItemSkeleton {
  height: 40px;
  width: 60%;
}

@media (max-width: 1024px) {
  .introSkeleton {
    flex-direction: column;
    align-items: center;
  }
  .imageSkeletonWrapper {
    width: 100%;
    max-width: 400px;
    height: 500px;
  }
}
